<section class="catalog section">
  <div class="container">
    <h2 class="catalog-title section-title">Catalog</h2>
    <ul class="catalog-list card-set">
      <li class="catalog-item card-set-item">
        <img
          class="catalog-ill"
          srcset="./img/catalog/img-1.webp 1x, ./img/catalog/img-1@2x.webp 2x"
          src="./img/catalog/img-1.webp"
          alt="Tube Watch S42 Date Steel With Black Case"
          width="275"
          height="274"
        />
        <h3 class="catalog-caption">
          Tube Watch S42 Date Steel With Black Case
        </h3>
        <p class="catalog-price">&euro;395</p>
      </li>
      <li class="catalog-item card-set-item">
        <img
          class="catalog-ill"
          srcset="./img/catalog/img-2.webp 1x, ./img/catalog/img-2@2x.webp 2x"
          src="./img/catalog/img-2.webp"
          alt="Avondale Watch Police For Men"
          width="275"
          height="274"
        />
        <h3 class="catalog-caption">Avondale Watch Police For Men</h3>
        <p class="catalog-price">&euro;800</p>
      </li>
      <li class="catalog-item card-set-item">
        <img
          class="catalog-ill"
          srcset="./img/catalog/img-3.webp 1x, ./img/catalog/img-3@2x.webp 2x"
          src="./img/catalog/img-3.webp"
          alt="Diver  300M Co‑Axial Master Chronometer Chronograph"
          width="275"
          height="274"
        />
        <h3 class="catalog-caption">
          Diver 300M Co‑Axial Master Chronometer Chronograph
        </h3>
        <p class="catalog-price">&euro;600</p>
      </li>
      <li class="catalog-item card-set-item">
        <img
          class="catalog-ill"
          srcset="./img/catalog/img-4.webp 1x, ./img/catalog/img-4@2x.webp 2x"
          src="./img/catalog/img-4.webp"
          alt="Diver 300M Co-Axial Master Chronometer "
          width="275"
          height="274"
        />
        <h3 class="catalog-caption">Diver 300M Co-Axial Master Chronometer</h3>
        <p class="catalog-price">&euro;1400</p>
      </li>
      <li class="catalog-item card-set-item">
        <img
          class="catalog-ill"
          srcset="./img/catalog/img-5.webp 1x, ./img/catalog/img-5@2x.webp 2x"
          src="./img/catalog/img-5.webp"
          alt="Taman Watch By Police For Men"
          width="275"
          height="274"
        />
        <h3 class="catalog-caption">Taman Watch By Police For Men</h3>
        <p class="catalog-price">&euro;500</p>
      </li>
      <li class="catalog-item card-set-item">
        <img
          class="catalog-ill"
          srcset="./img/catalog/img-6.webp 1x, ./img/catalog/img-6@2x.webp 2x"
          src="./img/catalog/img-6.webp"
          alt="Malawi Watch Police For Men"
          width="275"
          height="274"
        />
        <h3 class="catalog-caption">Malawi Watch Police For Men</h3>
        <p class="catalog-price">&euro;555</p>
      </li>
      <li class="catalog-item card-set-item">
        <img
          class="catalog-ill"
          srcset="./img/catalog/img-7.webp 1x, ./img/catalog/img-7@2x.webp 2x"
          src="./img/catalog/img-7.webp"
          alt="Diver 300M Co-Axial Master Chronometer "
          width="275"
          height="274"
        />
        <h3 class="catalog-caption">Diver 300M Co-Axial Master Chronometer</h3>
        <p class="catalog-price">&euro;1200</p>
      </li>
      <li class="catalog-item card-set-item">
        <img
          class="catalog-ill"
          srcset="./img/catalog/img-8.webp 1x, ./img/catalog/img-8@2x.webp 2x"
          src="./img/catalog/img-8.webp"
          alt="Greenlane Watch By Police For Men"
          width="275"
          height="274"
        />
        <h3 class="catalog-caption">Greenlane Watch By Police For Men</h3>
        <p class="catalog-price">&euro;1000</p>
      </li>

      <li class="catalog-item card-set-item">
        <img
          class="catalog-ill"
          srcset="./img/catalog/img-9.webp 1x, ./img/catalog/img-9@2x.webp 2x"
          src="./img/catalog/img-9.webp"
          alt="Greenlane Watch By Police For Men"
          width="275"
          height="274"
        />
        <h3 class="catalog-caption">Greenlane Watch By Police For Men</h3>
        <p class="catalog-price">&euro;1000</p>
      </li>
      <li class="catalog-item card-set-item">
        <img
          class="catalog-ill"
          srcset="./img/catalog/img-10.webp 1x, ./img/catalog/img-10@2x.webp 2x"
          src="./img/catalog/img-10.webp"
          alt="Greenlane Watch By Police For Men"
          width="275"
          height="274"
        />
        <h3 class="catalog-caption">Greenlane Watch By Police For Men</h3>
        <p class="catalog-price">&euro;1000</p>
      </li>
      <li class="catalog-item card-set-item">
        <img
          class="catalog-ill"
          srcset="./img/catalog/img-11.webp 1x, ./img/catalog/img-11@2x.webp 2x"
          src="./img/catalog/img-11.webp"
          alt="Greenlane Watch By Police For Men"
          width="275"
          height="274"
        />
        <h3 class="catalog-caption">Greenlane Watch By Police For Men</h3>
        <p class="catalog-price">&euro;1000</p>
      </li>
      <li class="catalog-item card-set-item">
        <img
          class="catalog-ill"
          srcset="./img/catalog/img-12.webp 1x, ./img/catalog/img-12@2x.webp 2x"
          src="./img/catalog/img-12.webp"
          alt="Greenlane Watch By Police For Men"
          width="275"
          height="274"
        />
        <h3 class="catalog-caption">Greenlane Watch By Police For Men</h3>
        <p class="catalog-price">&euro;1000</p>
      </li>
    </ul>

    <load
      src="/partials/button.html"
      type="button"
      content="Buy now"
      mod="catalog-btn"
    />
  </div>
</section>
